@font-face {
    font-family: GameFont;
    src: url("mplus-1m-regular.ttf");
}

@font-face {
    font-family: Antar;
    src: url("antar.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: Chakra;
    src: url("ChakraPetch-Regular.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}